@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
}

@theme inline {
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


table {
  table-layout: fixed;
  width: 100%;
}

td,
th {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

tr {
  page-break-inside: avoid;
}